extends ../layout/layout.jade

block content
  div.container
    - var action = "add"
    - var submit = "新增"
    - if (address)
      - var select = [address.province, address.city, address.area];
      - var accept_name = address.accept_name
      - var mobile = address.mobile
      - var detail = address.address
      - action = address.id + "/edit"
      - submit = "提交"
    form(id="", method="post", action=action)
      div.app-section
        input.app-input(placeholder="姓名" value=accept_name name="accept_name") 
        input.app-input(placeholder="手机号" value=mobile name="mobile")
      div.app-section
        select.app-select#province(name="province")
        select.app-select#city(name="city")
        select.app-select#area(name="area")
      div.app-section
        input.app-input(placeholder="街道" value=detail name="address")
      div.app-section
        input.app-input.yellow(type="submit" value=submit)
        - if (address)
          input(type="hidden" name="id" value=address.id)
          a#address-delete.app-button.red(data-id=address.id) 删除

block scriptBlock
  script.
    $(function($){
      initAddressSelection([#{select}]);

      $("#address-delete").click(function() {
        var id = $(this).data('id');
        removeAddress(id, function() {
          location.href = '/user/address';
        }, function(data) {
          $.toast(data.message);
        });
      });
    });