extends ../layout/layout.jade

block content
  div.container
    - if (orders.length <= 0)
      div.nothing-section 你还没有订单 
    - else 
      - for (var i = 0; i < orders.length; i ++)
        - item = orders[i];
        div.order-section
          h5 订单# #{item.order_no}
          div.order-actions 
            a.app-small-button.red(href="#{item.actionUrl}" class=item.actionText ? '' : 'hide') #{item.actionText}
            a.app-small-button.yellow(href="order/#{item.id}") 详细
          table.short-info
            tbody
              tr
                td 状态：
                td #{item.orderStatus}
              tr
                td 金额：
                td #{item.order_amount.toFixed(2)}
              tr
                td 时间：
                td #{item.createAt}