extends ../layout/layout.jade

block content
  div.container
    div.app-section
      - if (address)
        div#address.address(data-id=address.id) 
          strong 收货信息：
          div.address-content
            a(href="/user/selectAddress")
              p #{address.accept_name} #{address.mobile}
              p #{address.detail}
      - else
        div.address
          a(href="/user/selectAddress")
            p 点击选择配送地址

    div.app-section
      table.order-delivery-payment
        tbody
          tr
            td 配送方式：
            td
              select#delivery
                - for(var i = 0; i < delivery.length; i++)
                  option(value=delivery[i].id)= delivery[i].name
              
          tr
            td 支付方式：
            td
              select#payment
                - for(var i = 0; i < payment.length; i++)
                  option(value=payment[i].id)= payment[i].name

    div.app-section
      table.order-item-list
        tbody
          - for (var i = 0; i < products.length; i ++)
            - var product = products[i];
            tr.item(data-num=product.num data-price=product.sellPrice data-id=product.id)
              td.img
                img(src=imgPrefix+product.img width="30px" height="30px")
              td.name= product.name
              td.num= product.num
              td.price
                div
                  i.ion-social-yen
                  span= product.sellPrice

    div.app-section
      div.order-price
        div.left 小计
        div.right
          i.ion-social-yen
          span
      div.delivery-price
        div.left 运费
        div.right
          i.ion-social-yen
          span
      div.total-price
        div.left 总计
        div.right
          i.ion-social-yen
          span          
      div.create-order
        a.btn#createOrder= "提交订单"

block scriptBlock
  script.
    $(function() {
      var products = [];
      $(".item").each(function() {
        var item = {
          id: $(this).data("id"),
          num: $(this).data("num")
        }
        products.push(item);
      });
      $("#createOrder").click(function() {
        var data = {
          address_id: $("#address").data("id"),
          delivery_id: $("#delivery").val(),
          type: 0,
          payment: $("#payment").val(),
          products: products
        };
        
        createOrder(data, function(data) {
          if (data.success) {
            $.dialog({
              title: "提交成功!",
              text: "您的订单已经成功提交 :)",
              success: "现在支付",
              failed: "稍后支付"
            }, function() {
              location.href = data.payment_url+ "?callback=http://localhost:3000/user";
            }, function() {
              location.href = '/user/order';
            });
          }
        }, function() {

        });
      })

      var data = {
        products: products,
        delivery_id: $("#delivery").val()
      };
      $.ajax({
        url: '/site/caculateOrderPrice',
        type: 'POST',
        dataType: 'json',
        contentType: 'application/json', 
        data: JSON.stringify(data),
        success: function (data) {
          $(".order-price .right span").text(data.productsPrice);
          $(".delivery-price .right span").text(data.deliveryPrice);
          $(".total-price .right span").text(data.total);
        },
        error: function (error) {
          $.toast(error.message);
        }
      });
    })