extends ../layout/layout.jade

block content
  div.container
    div.app-section
      div.address(data-id=address.id) 收货信息
        div.address-content
          p #{address.accept_name} #{address.mobile}
          p #{address.detail}

    div.app-section
      table
        tbody
          tr
            td 配送方式：
            td
              select#delivery
                - for(var i = 0; i < delivery.length; i++)
                  option(value=delivery[i].id)= delivery[i].name
              
          tr
            td 支付方式：
            td
              select#payment
                - for(var i = 0; i < payment.length; i++)
                  option(value=payment[i].id)= payment[i].name

    div.app-section
      table.order-item-list
        tbody
          - for (var i = 0; i < products.length; i ++)
            - var product = products[i];
            tr.item(data-num=product.num data-price=product.sellPrice)
              td.img
                img(src=imgPrefix+product.img width="30px" height="30px")
              td.name= product.name
              td.num= product.num
              td.price
                div
                  i.ion-social-yen
                  span= product.sellPrice

    div.app-section
      div.order-price
        div.left 小计
        div.right
      div.delivery-price
        div.left 运费
        div.right
      div.total-price
        div.left 总计
        div.right
      div.create-order
        a.btn#createOrder= "提交订单"

block scriptBlock
  script.
    $(function() {
      $("#createOrder").click(function() {
        createOrder(data);
      })
    })