extends ../layout/layout.jade

block content
  div.container
    div.app-section
      div 收货信息
      div
        p #{address.accept_name} #{address.mobile}
        p #{address.detail}

    div.app-section
      table
        tbody
          tr
            td 配送方式：
            td
              select
              
          tr
            td 支付方式：
            td
              select
                option 支付宝

    div.app-section
      table.order-item-list
        tbody
          - for (var i = 0; i < products.length; i ++)
            - var product = products[i];
            tr
              td.img
                img(src=imgPrefix+product.img width="30px" height="30px")
              td.name= product.name
              td.num= product.num
              td.price
                div
                  i.ion-social-yen
                  span= product.sellPrice

    div.app-section
      div.order-price
        div.left 小计
        div.right
      div.order-price
        div.left 运费
        div.right
      div.order-price
        div.left 总计
        div.right
      div.create-order
        a.btn#createOrder= "提交订单"
