extends ../layout/layout.jade

block content
  div.container
    - for (var i = 0; i < products.length; i ++)
      - item = products[i];
      div.product-section
        a(href='product/#{item.id}')
          div.product-item
            img(src=imgPrefix+item.img, alt="")
            div.product-detail
              div.product-name= item.name
              div.product-bottom
                div.left
                  i.ion-social-yen
                  span.product-price= item.sellPrice
                span.product-purchase.btn(data-id=item.id) 立即购买

block scriptBlock
  script.
    $(function(){
      $(".product-purchase").click(function() {
        var id = $(this).data("id");
        joinCart(id, 1, function() {
          var obj = {
            title: constants.addCartSuccessTitle,
            text: constants.addCartSuccessText,
            success: constants.addCartSuccessBtn1,
            failed: constants.addCartSuccessBtn2
          }
          $.dialog(obj,$.noop, function(){
            location.href = "/site/cart";
          });
        }, function () {
          $.toast();
        });
        return false;
      })

      $(".container").loadmore({
        bottomOffset: 1000,
        url: '/api/getProducts',
        size: 10
      });
    })