doctype html
html
  - var imgPrefix = "http://192.168.1.100/"
  head
    title= "百花味"
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/ionicons.min.css')
    script(src='/javascripts/lib/zepto/zepto.js')
    script(src='/javascripts/lib/zepto/fx.js')
    script(src='/javascripts/lib/zepto/fx_methods.js')
    script(src='/javascripts/lib/zepto/touch.js')
    script(src='/javascripts/lib/validate/validate.js')
    script(src='/javascripts/dialog.js')
    script(src='/javascripts/common.js')
  body
    header
      div.header-bar
        div.header-left#back(class=hideBackButton ? 'hide' : 'show') 
          i.ion-chevron-left
          span 后退
        div.header-title= title
        div.header-right#header-right
          a(href=rightHref)= rightContent

    block content

    footer(class=hideFooter ? 'hide' : 'show')
      div.footer-bar
        ul
          li: a(href='/')
              i.ion-flash
              span 闪购
          //- li: a(href='/product')
          //-     i.ion-heart
          //-     span 产品
          li: a(href='/site/cart')
              i.ion-ios-cart
              span 已选
          li: a(href='/user')
              i.ion-android-person
              span 我的
          li: a(href='//huaqi.baihuawei.com')
              i.ion-android-contacts
              span 社区

    block scriptBlock

    script.
      $(function () {
        $("#back").click(function() {
          window.history.back();
        });

        var path = "/" + location.pathname.split('/')[1];
        if (path == "/") {
          $("li a[href='"+path+"']").addClass("active");
        } else {
          $("li a[href^='"+path+"']").addClass("active");
        }
      })